* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3e;
}

.heart {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ff4757;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #ff4757;
    animation: animate .6s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #ff4757;
    border-radius: 50%;
    box-shadow: -10px -10px 90px #ff4757;
}

.heart::after {
    content: '';
    position: absolute;
    right: -50%;
    width: 70px;
    height: 70px;
    background: #ff4757;
    border-radius: 50%;
    box-shadow: 10px 10px 90px #ff4757;
}

/* From Uiverse.io by gharsh11032000 */ 
.button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    top: 100px;
    left: -25px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top:-1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    -webkit-transform: translate3d(0, 0, 0) scale(0.95);
            transform: translate3d(0, 0, 0) scale(0.95);
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }
  
  .button:hover::after {
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  
  .button:hover::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  
  .button:active::before {
    scale: 0.7;
  }

  
  